.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(#34343A, #3C3A79);
    top: 100%;
    transition: all .4s ease-in-out;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.card:hover::before{
    height: 100%;
    top: 0;
}

.card{
    position: relative;
    z-index: 10;
    transition: all .4s ease-in-out;
}